    {% extends 'base/layout.html'  %}
    {% load static %}
    {% block content  %}

            <main class="main">
            <section class="home section" id="home">
            <div class="home__container container grid">

            <form action="" method="POST">
            {% csrf_token %}

            <p>Are you sure you want to delete {{item}}?</p>
            <input class="btn btn-danger" type="submit"  value="Confirm">


            </form>



            </div>

            </section>





            </main>

<!--==================== SCROLL TOP ====================-->
         <!--==================== SCROLL TOP ====================-->
         <a href="#" class="scrollup" id="scroll-up">
                <i class="uil uil-arrow-up scrollup__icon"></i>
              </a>
        
            <!--==================== SWIPER JS ====================-->
            <script src="{% static 'js/swiper-bundle.min.js' %}" type="application/javascript"></script>
        
            <!--==================== MAIN JS ====================-->
            <script src="{% static 'js/main.js' %}" type="text/javascript"></script>



    {% endblock content  %}