{% extends 'base/layout.html'  %}
{% load static %}
{% block content  %}
        <style type="text/css">
        html, body{
        height: 100%;
        }

        #page-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: #eaeaea; */
        }

        #success-box{
        max-width: 800px;
        height: auto;
        /* background-color: #fff; */
        border:1px solid #888;
        border-radius: 5px;
        padding: 15px;
        }

        #success-box p{
        font-size: 18px;
        color: black;
        }

        </style>


                <main class="main">
                <section class="home section" id="home">
                        <div class="home__container container grid">
                        <div id="page-wrapper">
                <div id="success-box" class="content-block">
                <h1>Thanks for reaching out!</h1>
                <p >Your message was successfully sent. I will do my best to get back to you in a timely manner :)</p>
                <a id="back-btn" class="content-block" href="{% url 'home' %}">BACK TO HOME PAGE</a>
                </div>
                </div>
                </div>
                </section>


                </main>
                






{% endblock content  %}