{% extends 'base/layout.html'  %}
{% load static %}
{% load crispy_forms_tags   %}

    {% block content  %}

   

    <main class="main">
        
        <section class="home section" id="home">
            <div class="home__container container grid">
                <h1>HOME EDIT FORM</h1>


                <form action="" method="POST">

                    {% csrf_token %}
                    {{form.media}}
                    {{form|crispy}}

                    <!-- {% for field in form %}

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                        {{field}}
                    </div>
                    

                    {% endfor %} -->
                    
        <input class="btn btn-primary" type="submit" value="submit">





                </form>

            </div>

        </section>

    </main>

    

{% endblock content  %}