{% extends 'base/layout.html'  %}
{% load static %}
{% load crispy_forms_tags   %}
{% block content  %}

<main class="main">
        
    <section class="home section" id="home">
        <div class="home__container container grid">
        <h1>ADD SKILL <p><a href="https://boxicons.com/?query=">Icons</a></p></h1>
        <!-- <p><a href="https://boxicons.com/?query=">Icons</a></p> -->
            
        <form action="" method="POST" >

            {% csrf_token %}
            {{form.media}}
            
        {{form|crispy}} 
            
        <input class="btn btn-primary" type="submit" value="submit">



     </form>





        </div>

        
    </section>





</main>




{% endblock content  %}